@import-normalize;

body {
  background-color: #E5E5E5;
  font-family: 'Open Sans', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  color: #4A4A4A;
  padding: 1rem;
}
