.spinner {
  &__title {
    margin: 0;
    text-align: center;
  }

  &__icon {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 10px auto 50px auto;
    animation: rotate 1.2s linear infinite;
    border: 2px #4A4A4A solid;
    border-right: 1px;
    border-left: 1px;
    border-radius: 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}